<!DOCTYPE html>
<html>
<head>
  <title>Lista de Fotógrafos</title>
</head>
<body>
  <h1>Lista de Fotógrafos</h1>
  <ul>
    <% fotografo.forEach(fotografo => { %>
      <li><%= fotografo.nome %> - <%= fotografo.picture %> - <%= fotografo.instagram %> - 
        <%= fotografo.whatsapp %> - <%= fotografo.email %> - <%= fotografo.link %>

    <% }); %>
  </ul>
</body>
</html>